html,
body {
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row: 1 / 3;
    gap: 3rem;
    background-color: #1992d4;
    color: #fff;
    padding: 1rem;
}

.sidebar-main-menu {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    row-gap: 0.5rem;
}

.sidebar-main-menu > div,
.sidebar-footer-menu > div {
    padding: 0.25rem 0;
    border-radius: 0.75rem;
    transition: all 0.2s ease;
}

.sidebar-main-menu > div:hover,
.sidebar-footer-menu > div:hover {
    background-color: #146baf;,
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);;
}

.sidebar-footer-menu {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 0.5rem;
}

.sidebar-header > div,
.sidebar-main-menu > div,
.sidebar-footer-menu > div {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-header .sidebar-title {
    font-size: 2rem;
}

.sidebar .sidebar-header img {
    width: 50px;
    height: 50px;
}

.sidebar img {
    width: 25px;
    height: 25px;
    justify-self: center;
}

.sidebar-menu-content {
    font-size: 1.2rem;
}

.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    background-color: #fff;
    padding: 0 1rem;
}

.search-bar {
    display: inline-grid;
    grid-template-columns: min-content 1fr;
    align-self: center;
    column-gap: 0.5rem;
    padding: 1rem;
}

.search-bar input {
    border-radius: 1rem;
    background-color: #e2e8f0;
    border: none;
    padding: 0 1rem;
}

.search-bar input:focus {
    outline: none;
}

.search-bar img {
    width: 25px;
    height: 25px;
    justify-self: start;
}

.main-content {
    grid-row-start: 2;
}

.user-menu {
    display: inline-grid;
    grid-template-columns: 30px 50px max-content;
    align-items: center;
    justify-items: center;
    justify-self: end;
    column-gap: 0.25rem;
}

.user-menu .notification {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.user-menu .profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-menu .profile-name {
    font-weight: bold;
}

.user-profile {
    display: inline-grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: 0.5rem;
}

.user-profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-profile > div {
    display: inline-grid;
    grid-template-rows: repeat(2,min-content);
    row-gap: 0.25rem;
    font-weight: bold;
}

.toolbar {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    align-items: center;
}

.toolbar > button {
    background-color: #1992d4;
    color: white;
    border: none;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: #ccd1d8;
    gap: 2rem;
    padding: 1rem;
    max-height: 100%;
    overflow: auto;
}

.projects {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-row: 1 / 3;
    row-gap: 0.5rem;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.project-list-item {
    background-color: white;
    border-radius: 1rem;
    border-left: 1rem solid #f0b429;
    display: grid;
    padding: 1rem;
    grid-template-rows: 1fr 50px;
}

.project-info {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 0.75rem;
    justify-self: end;
    align-self: center;
}

.favorite-btn,
.view-btn,
.share-btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.favorite-btn {
    background: url("assets/icons/star-plus-outline.svg");
}

.view-btn {
    background: url("assets/icons/eye-plus-outline.svg");
}

.share-btn {
    background: url("assets/icons/share-variant-outline.svg");
}

.announcements{
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 0.5rem;
}

.announcements-list {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    row-gap: 0.5rem;
    max-height: 300px;
    overflow: auto;
}

.announcements-list-item{
    display: grid;
    grid-template-rows: repeat(2, min-content);
}

.trending {
    display: grid;
    grid-template-rows: min-content 1fr;
    row-gap: 0.5rem;
}

.trending-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1.5rem;
    row-gap: 0.5rem;
}

.trending-list-item {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    column-gap: 1rem;
}

.profile-info {
    display: inline-grid;
    grid-template-rows: repeat(2,min-content);
    row-gap: 0.25rem;
}

.profile-photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.bio{
    color: #a1a1a1;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #edf2f5;
}
